*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
form {
  margin: 10% 0;
}
form > input {
  margin: 5px -20px;
  padding: 10px 30px;
  border: 2px solid #ff5033;
  outline: none;
  border-radius:  20px;
  font-size: 14px;
  display: inline-block;
  width: 150px;

}

form > label {
  font-size: 14px;
  margin: 0;
  background-color: #ff5033;
  padding: 10px;
  font-weight: bold;
  border-radius: 20px;
  color: white;
  width: 100px;
  display: inline-block;
  border: 2px solid #ff5033;
  border-radius: 20px 0px 0px 20px;
  
}

form > button {
  margin: 15px 0px;
  font-size: 16px;
  padding: 10px 40px;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0px 1px 5px 2px #ff5033;
  border: 2px solid #ff5033;
  transition: 0.3s;
  display: inline-block;
  color: #ff5033;
}

form > input::placeholder {
  color: #ff5033;
  font-weight: bold;
}

form > button:hover {
  background-color: #ff5033;
  color: #fff !important;
}
